html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

h3, p, ul, ol, dl, dt, dd, ul, li, fieldset, form, legend, input, textarea, select, textarea {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}