.container {
    min-width: 75rem;
    position: relative;

    @media screen and (max-width: 768px) {
        min-width: auto;
    }
}

.dndItem {
    position: relative;
}

.scrollable {
    overflow-y: scroll;
    max-height: 550px;

}

.dndItem[data-dragging] {
    opacity: .5;
}

.dndItem[data-drop-target] {
    opacity: .2;
    background: rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
    border-radius: 1rem;
}